.calenderContainer {
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: #245fff;
    overflow-y: scroll;
    background-color: rgb(246, 250, 255);
}

.calenderWrapper {
    padding: 50px;
}

.calenderContent header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;    
}

.calenderContent header h2 {
    font-size: 28px;
    align-self: center;    
}

.calenderContent header .calenderBtn {
    background-color: white;
    padding: 8px 12px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
}

.calender {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(236, 236, 236);
}

.headerWrapper {
    padding: 20px 20px 0px 20px;
}

.calenderHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 8px auto 25px auto;
}

.calenderHeader h3 {
    padding: 0 50px;
    font-size: 25px;
    font-weight: 500;
}

.calenderIcon {
    font-size: 25px;
    cursor: pointer;
}

.bright {
    background-color: #245fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.dull {
    background-color: #deeaff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.tableBody td {
    padding: 20px;
    text-align: center;
}

.weekDays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.monthDates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.dates {
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: center;
    align-items: center;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 20px;
    margin: 0 auto;
}

.calenderTable {
    padding: 20px;
}

.isFeb {
    color: rgb(180, 180, 180);
}