.footerText {
  text-align: center;
  font-size: 12px;
  color: rgb(160, 184, 206);
  margin: 0 auto;
  padding: 50px;
  background-color: rgb(246, 250, 255);
}

footer a {
  color: rgb(160, 184, 206);
}