@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Spartan:wght@200;300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

.footerText {
  text-align: center;
  font-size: 12px;
  color: rgb(160, 184, 206);
  margin: 0 auto;
  padding: 50px;
  background-color: rgb(246, 250, 255);
}

footer a {
  color: rgb(160, 184, 206);
}