header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;        
}

header h2 {
    font-size: 28px;
    align-self: center;    
}

header .pageHeaderBtn {
    background-color: white;
    padding: 8px 12px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}

@media screen and (max-width: 760px) {
    header h2 {
        font-size: 20px;
    }    
}